/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1440px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main {
	max-width: 1140px;
	margin: auto;
}

.bandeau-modifs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: black;
	width: 1440px;
	height: 59px;
	align-items: center;
	gap: 10px;
}

.bandeau-modifs p {
	color: white;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	padding-right: 10px;
}

.bandeau-modifs button {
	height: 38px;
	border-radius: 60px;
	padding: 11px 23px;
	color: black;
	background-color: white;
	border: none;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	line-height: 16.42px;
}

.bandeau-modifs i {
	color: white;
	font-size: 16px;
}

.menu {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	margin-top: 38px;
	width: 1140px;
	align-items: center;
	margin-left: 150px;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.nav-login {
	text-decoration: none;
	color: black;
}

.nav-projets {
	text-decoration: none;
	color: black;
}

.li-login {
	font-weight: 600;
}

li:hover {
	color: #B1663C;
}

.nav-projets:hover {
	color: #B1663C;
}

.nav-login:hover {
	color: #B1663C;
}

.nav-logout {
	text-decoration: none;
	color: black;
}

.nav-logout:hover {
	color: #B1663C;
}

header {
	margin-bottom: 150px;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}

.t-projet {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	gap: 11px;
}

.t-projet i {
	color: black;
	font-size: 15px;
	padding-left: 21px;
}

.t-projet a {
	align-items: center;
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.filtres {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}

.filtre {
	font-family: 'Syne';
	text-decoration: none;
	color: #1D6154;
	line-height: 19.2px;
	font-size: 16px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	font-weight: 700;
	background-color: white;
}

.filtre:focus {
	background-color: #1D6154;
	color: white;
}

.f-1 {
	padding: 9px 29px;
}

.f-2 {
	padding: 9px 21px;
}

.f-3 {
	padding: 9px 15px;
}

.f-4 {
	padding: 9px 10px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	object-fit: contain;
	height: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.bouton-contact {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*page de login*/
#login-form h1 {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #1D6154;
	margin-bottom: 37px;
}

.form-login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-email {
	display: flex;
	flex-direction: column;
	width: 380px;
	margin-bottom: 30px;
}

.form-email label {
	margin-bottom: 7px;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
}

.form-email input {
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form-pass {
	display: flex;
	flex-direction: column;
	width: 380px;
	margin-bottom: 37px;
}

.form-pass label {
	margin-bottom: 7px;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
}

.form-pass input {
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.bouton-connexion {
	margin: 0px 0px;
	padding: 10px 39px;
	max-width: 180px;
	background-color: #1D6154;
	height: 36px;
	font-family: 'Syne';
	line-height: 16.8px;
	color: white;
	border-radius: 60px;
	border: none;
	margin-bottom: 28px;
}

.link-pass-oublie {
	color: #3D3D3D;
	line-height: 16.42px;
	text-align: center;
}

#login-form>p {
	text-align: center;
}

#login-form {
	margin-bottom: 355px;
}

.red-error {
	text-align: center;
	margin: auto;
	margin-top: 30px;
	background-color: rgba(255, 0, 0, 0.33);
	width: 380px;
	padding: 20px 20px;
}


/* css de la modale */
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
	width: 630px;
	height: 730px;
	background-color: white;
	border-radius: 10px;
}

/* MD1 */
.md1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.div-close-md1 {
	display: flex;
	justify-content: end;
	align-self: flex-end;
	margin-top: 27px;
	margin-right: 36px;
}

.close-md1 {
	border: none;
	background-color: white;
}

.fa-xmark {
	font-size: 13px;
}

.title-md1 {
	margin-bottom: 46px;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	color: black;
	margin-top: 16px;
}

.contenu-md1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-md1 {
	width: 237px;
	height: 36px;
	background-color: #1D6154;
	border-radius: 60px;
	border: none;
	font-size: 14px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	margin-bottom: 23px;
	margin-top: 30px;
}

.line-md1 {
	width: 420px;
	color: white;
	border-top: solid 1px #B3B3B3;
	margin-top: 47px;
}

.grid-md1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 10px 6px;
}

.div-grid-button-delete {
	display: flex;
	justify-content: end;
	width: 78px;
	height: 104px;
	background-size: contain;
	margin-bottom: 2px;
	background-repeat: no-repeat;
    background-position: center;
}

.grid-button-delete {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: black;
	height: 17px;
	width: 17px;
	margin-right: 9px;
	margin-top: 9px;
	border-radius: 2px;
}

.grid-button-delete>i {
	color: white;
	font-size: 8px;
}

.edit-div {
	text-decoration: none;
	color: black;
}

.grid-md1 {
	height: 381px;
	overflow: auto;
}

.delete-all-md1 {
	text-decoration: none;
	color: #D65353;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 400;
}

/* MD2 */
.md2 {
	flex-direction: column;
	align-items: center;
}

.close-return-md2 {
	display: flex;
	justify-content: space-between;
	width: 630px;
	margin-bottom: 15px;
}

.close-return-md2>button {
	padding: 0px;
	background-color: white;
	border: none;
}

.fa-xmark {
	font-size: 18px;
}

.fa-arrow-left {
	font-size: 23px;
}

.return-md2 {
	margin-left: 30px;
	margin-top: 30px;
}

.close-md2 {
	margin-right: 36px;
	margin-top: 27px;
}

.title-md2 {
	margin-bottom: 35px;
	color: black;
	font-weight: 400;
	font-size: 26px;
	font-family: 'Work Sans';
}

.ajout-img-md2 {
	width: 420px;
	height: 170px;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.fa-image {
	margin-bottom: 21px;
	color: #B9C5CC;
	font-size: 47px;
}

.label-img-md2 {
	text-align: center;
	padding: 10px 33px;
	background-color: #CBD6DC;
	border-radius: 50px;
	color: #306685;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 7px;
}

.info-img-md2 {
	font-family: 'Work Sans';
	font-size: 10px;
	font-weight: 400;
	text-align: center;
}

.form-md2 {
	display: flex;
    flex-direction: column;
}

.form-md2 label {
	margin-bottom: 10px;
}

.input-title-md2 {
	margin-bottom: 20px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form-md2 > select {
	margin-bottom: 45px;
	height: 51px;
	border: none;
	background-color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.line-md2 {
	width: 420px;
	color: white;
	border-top: solid 1px #B3B3B3;
	margin-bottom: 27px;
}

.submit-md2 {
	padding: 10px 49px;
	width: 237px;
	background-color: #A7A7A7;
	border: none;
	border-radius: 60px;
	margin: auto;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: white;
}

/* MD3 */